<div *ngIf="actividades.length == 0" class="spin"></div>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div *ngIf="actividades.length != 0" class="bodyCard" style="position: relative;">
        <div style="display: flex;justify-content: space-between; align-items: center; padding: 7px 28px 0 0;">
            <span style=" flex: 1">
                <span style="cursor: pointer; opacity: .49; font-size: 14px;" (click)="onClickGoToDashboard()">
                    > Regresar al dashboard</span>
            </span>
            <span style="display: flex; flex: 1;
            justify-content: space-between;
            align-items: center;">
                <span style="display: flex; color: #707070;  font-size: 14px;">
                    <label style="margin-right: 7px;">
                        <input name="radio" type="radio" checked="" value="">
                        <span>Nombre</span>
                    </label>
                    <label style="margin-right: 7px;">
                        <input name="radio" type="radio" value="">
                        <span>Rut</span>
                    </label>
                    <label style="margin-right: 7px;">
                        <input name="radio" type="radio" value="">
                        <span>Empresa</span>
                    </label>
                </span>

                <span>
                    <input type="text" name="query" required="" placeholder="Buscar..." [(ngModel)]="searchInput"
                        (keyup.enter)="onClickSubmit()" class="🔎">
                    <span style="cursor: pointer;" (click)="onClickSubmit()">🔎</span>
                </span>
            </span>
        </div>

        <!-- <div style="position: absolute; z-index: 9; top: 28px; right: 280px;">
            <div style="display: flex; color: #707070;  font-size: 14px;">
                <label style="margin-right: 7px;">
                    <input name="radio" type="radio" checked="" value="">
                    <span>Nombre</span>
                </label>
                <label style="margin-right: 7px;">
                    <input name="radio" type="radio" value="">
                    <span>Rut</span>
                </label>
                <label style="margin-right: 7px;">
                    <input name="radio" type="radio" value="">
                    <span>Empresa</span>
                </label>
            </div>
        </div>

        <div style="position: absolute; z-index: 9; top: 7px; right: 35px;">
            <input type="text" name="query" required="" placeholder="Buscar..." [(ngModel)]="searchInput"
                (keyup.enter)="onClickSubmit()" class="🔎">
            <span style="cursor: pointer;" (click)="onClickSubmit()">🔎</span>
        </div> -->

        <div class="tableHeader">
            <span style="min-width: 210px;">Usuario</span>
            <span style="min-width: 210px;">Actividades</span>
            <span style="flex: 4;"></span>
        </div>
        <div class="📜">
            <div *ngFor="let actividad of actividades" class="rowContainer">
                <span style="padding-right: 7px;width: 210px; min-width: 210px;">
                    <div style="margin-bottom: 7px;">{{actividad.nombre}}</div>
                    <div style="margin-bottom: 7px;">{{actividad.rut}}</div>
                    <div style="margin-bottom: 7px;">{{actividad.empresa}}</div>
                    <div style="margin-bottom: 7px;">{{actividad.tiempo}}m de uso</div>
                </span>
                <span style="width: 80%;">
                    <div *ngFor="let seleccion of actividad.actividades" style="display: flex; margin-bottom: 21px;">
                        <span style="margin-right: 21px;">
                            <div style="margin-bottom: 7px; font-weight: 600;">Selección de Productos:</div>
                            <div style="margin-bottom: 7px;">Puntaje: {{seleccion.puntaje}}</div>
                            <div style="margin-bottom: 7px;">Estrellas: {{seleccion.estrellas}}</div>
                        </span>
                        <span
                            style="display: flex; margin-right: 28px; padding-bottom: 28px; flex: 4; overflow-x: auto;">
                            <span *ngFor="let producto of seleccion.productos" class="productContainer">
                                <div style="margin-bottom: 7px; font-weight: 400;">{{producto.nombre}}</div>
                                <div class="💪🏻">
                                    <span> Cant. Bien:</span>
                                    <span>{{producto.cantidadBien}}</span>
                                </div>
                                <div class="💪🏻" style="margin-bottom: 7px;">
                                    <span>Cant. Mal:</span>
                                    <span>{{producto.cantidadMal}}</span>
                                </div>
                                <div class="💪🏻">
                                    <span style="color: #ffb300; font-weight: bold;">★ {{producto.estrellas}}</span>
                                    <span style="font-size: 14px;">{{producto.puntos}}pts</span>
                                </div>
                            </span>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>