select {
    width             : 100%;
    background-color  : transparent;
    border            : none;
    //color           : white;
    font-size         : 16px;
}

option {
    //background-color: #707070;
    color: #707070;
}

.mr28 {
    margin-right: 28px;
}

.mb28 {
    margin-bottom: 28px;
}

.smallCardBase {
    // border          : solid 1px #70707070;
    display         : flex;
    flex-direction  : column;
    border-radius   : 14px;
    padding         : 14px 21px;
    box-sizing      : border-box;
    min-width       : 210px;
    min-height      : 120px;
    background-color: white;
    box-shadow      : 3px 3px 5px #00000021;
}

.coloredCircle {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #70707099;
    height         : 77px;
    width          : 77px;
    border-radius  : 77px;
    font-size      : 35px;
    font-weight    : 600;
}

.coloredRectangle {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    padding         : 14px;
    box-sizing      : border-box;
    width           : 100%;
    border-radius   : 14px;
    background-color: black;
    font-size       : 14px;
}

.top10Name {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.top25Span {
    display          : flex;
    justify-content  : space-between;
    margin-bottom    : 7px;
    // overflow: hidden;
    //width          : 50%;
    float            : left;
    font-size        : 14px;

    .top25NumberAndNameContainer {
        display  : flex;
        max-width: calc(100% - 21px);

        .top25Name {
            padding-right: 7px;
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
            //width        : 100%;
        }

        .top25Name:hover {
            // overflow: visible;
        }
    }

    .top25NumberAndNameContainer:hover~.top25Points {
        //display: none;
    }

    .top25Points {
        min-width: 21px;
        max-width: 21px;
    }

}

@media screen and (min-width: 0px) and (max-width: 1399px) {
    .top25Span {
        width: 100%;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1649px) {
    .top25Span {
        width       : 45%;
        margin-right: 5%;

        .top25Points {
            // color: red;
        }
    }
}

@media screen and (min-width: 1650px) {
    .top25Span {
        width       : 28%;
        margin-right: 5%;

        .top25Points {
            // color: red;
        }
    }
}

#a:hover~#b {
    background: #ccc
}